@import "constants";

@mixin neumorphic($x, $y, $blur) {
  box-shadow:
    #{$x}px #{$y}px #{$blur}px $neumorphic-lower-shadow,
    #{-$x}px #{-$y}px #{$blur}px $neumorphic-upper-shadow;
}

@mixin neumorphic_inset($x, $y, $blur) {
  box-shadow:
    inset #{$x}px #{$y}px #{$blur}px $neumorphic-upper-shadow,
    inset #{-$x}px #{-$y}px #{$blur}px $neumorphic-lower-shadow;
}

.neu-up {
  @include neumorphic(4, 4, 6);
  border-radius: 8px;
}

.neu-down {
  @include neumorphic_inset(4, 4, 6);
  border-radius: 8px;
}

button {
  @include neumorphic(4, 4, 6);
  border-radius: 8px;
  padding: 4px 12px;

  &:active {
    @include neumorphic_inset(4, 4, 6);
  }

  &.fab {
    border-radius: 50%;
    padding: 12px;
  }
}
